/*Essential Container Styles*/
.no-padding {
  padding: 0 !important;
}

.section-spacing {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-spacing-c {
  margin-top: 2rem;
  padding-top: 2rem;
}

.no-padding-right {
  padding-right: 0 !important;
}

/*Background Styles*/

.bg-head {
  background: url("./img/header.jpg") no-repeat center center;
  background-size: cover;
  min-height: 80vh; /* Hace que el header ocupe al menos toda la altura de la pantalla */
  padding: 50px 20px; /* Aumenta el padding interno */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-head h2.title-font {
  font-size: 4rem; /* Tamaño más grande para el texto "Nos casamos!" */
  margin-bottom: 30px;
}

.bg-head h1.title-font {
  font-size: 3rem; /* Tamaño más grande para los nombres */
  line-height: 1.2;
}

.bg-section-1 {
  background: url("./img/flower_bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.bg-section-2 {
  background: url("./img/our_date.jpg") no-repeat center center;
  background-size: cover;
}

.bg-section-3 {
  background-color: #edeef0;
}

.bg-section-4 {
  background-color: #d6b4ab;
}

.bg-section-6 {
  background-color: #5f4a2d;
}

/*Fonts Styles*/
.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

.title-font {
  font-family: "Cookie", cursive;
  font-weight: 300;
}

.p-font {
  font-family: "Open Sans", sans-serif;
}

.btn-default {
  width: auto;
  display: inline-block;
  background-color: #bba58e;
  color: #fde8e7;
  font-weight: bold;
  border-radius: 15px;
}

.btn-default:hover {
  background-color: #7b815d;
  color: #fde8e7;
}

.custom-img {
  width: 130px; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantiene la proporción de aspecto */
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.custom-img-us {
  width: 180px; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantiene la proporción de aspecto */
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  border-radius: 15px;
  transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.custom-img-us:hover {
  transform: scale(1.1); /* Scale the image to 110% on hover */
}

.sticky-button {
  position: fixed; /* Fixes the button to the viewport */
  top: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the left */
  z-index: 1000; /* Ensures the button is above other content */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.music-button {
  position: fixed; /* Fixes the button to the viewport */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  z-index: 1000; /* Ensures the button is above other content */
  background-color: #d6b4ab; /* music green color */
  border-radius: 50%; /* Make it circular */
  width: 60px; /* Set width */
  height: 60px; /* Set height */
  display: flex; /* Center the icon */
  justify-content: center; /* Center the icon */
  align-items: center; /* Center the icon */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  transition: transform 0.3s; /* Smooth transition for hover effect */
  animation: bounce 2s infinite; /* Aplica la animación de salto */
}

.music-button img {
  width: 30px; /* Set icon size */
  height: auto; /* Maintain aspect ratio */
}

.music-button:hover {
  transform: scale(1.1); /* Slightly enlarge the button on hover */
}

/*Carrousel*/
.item00 {
  background: url("./img/we_1.jpg") no-repeat center center/cover;
  height: 40vh;
}
.item01 {
  background: url("./img/we_3.jpg") no-repeat center center/cover;
  height: 40vh;
}
.item02 {
  background: url("./img/we_2.jpg") no-repeat center center/cover;
  height: 40vh;
}

.item03 {
  background: url("./img/we_4.jpg") no-repeat center center/cover;
  height: 40vh;
}
.item04 {
  background: url("./img/we_5.jpg") no-repeat center center/cover;
  height: 40vh;
}
.item05 {
  background: url("./img/we_6.jpg") no-repeat center center/cover;
  height: 40vh;
}
.carousel-caption {
  top: 43%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
